* {
    box-sizing: border-box;
    margin: 0%;
}

/* NAV BAR */

header {
    display: block;
    background-image: url(img/pattern.png);
    background-color: rgb(110, 194, 166);
    padding: 20px;
    margin-bottom: 50px;
}

header img {
    width: 20%;
    height: 20%;
    box-sizing: border-box;
    margin-left: 5%;
    margin-top: 2%;
}

/* TITOLO */
h1 {
    margin: 0;
}

/* SPAZIO SOTTO PER OGNI FOOTER NEL MAIN */
main footer {
    margin-bottom: 25px;
}


/* MARGINE AI LATI DEL MAIN PER OCCUPARE L'80% DELLA PAGINA */
main {
    margin: 0% 10%;
}

/* EVIDENZIAMENTO TESTO */
p span {
    background-color: yellow;
}


/* STILE THEAD */
thead {
    color: white;
    background-color: rgb(110, 194, 166);
    text-align: left;
}

/* COLORE RIGHE TABELLA*/
.color-row {
    background-color: lightgray;
}

/* MARGINE TABELLA */
table {
    margin-top: 40px;
    margin-bottom: 50px;
}

/* GRANDEZZA PRIMA DUE CELLE */
.width-row {
    width: 20%;
}

/* DISTANZA CONTENUTO CELLE */
td {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* FOOTER COPYRIGHT */
.foot-article {
    text-align: center;
    color: white;
    background-color: #003399;
    padding: 15px;
    font-weight: bold;
}

/* CAMBIO COLORE A "THE BOOLEANER NEL FOOTER DEL TITOLO */
#booleaner {
    color: rgb(110, 202, 172);
}

/* FOOTER DEL TITOLO */
.foot-title {
    color: grey;
}

/* FOOTER DELLA DATA */
.foot-title2 {
    font-size: small;
    color: grey;
}

/* FOOTER SOTTO LA FOTO */
.foot-photo {
    font-size: small;
    font-family: "Roboto Condensed", sans-serif;
}